* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
.contents-img {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}
.contents-img2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}
.contents-img3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}
.step {
  padding: 2px;
  position: absolute;
  top: 0;
  left: 0;
  color: #ffff;
  background-color: #ff9a4b;
}
.contents-title {
  margin-top: 15px;
  margin-bottom: 5px;
}
.contents-text {
  width: 300px;
  padding: 10px;
  margin-right: 30px;
  position: relative;
  background-color: #eeeeee;
}
.contents-text:last-child {
  margin-right: 0px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 375px) {
  main {
    width: 100%;
    display: block;
  }
  .contents-text {
    width: 90%;
    margin-right: 0px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .contents-text:last-child {
    margin: 0 auto;
    margin-bottom: 0px;
  }
}
